/*#region CSS Reset*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html,
body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}
/*#endregion*/

:root {
    --main-border-color: #283593;
}

body {
    background: #E8EAF6;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 8fr;
    grid-template-areas:
        "home nav"
        "sidebar main";
}

#home {
    grid-area: home;
    border: 2px solid var(--main-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

img#logo {
    width: 200px;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--main-border-color);
}

/*#region Sidebar*/

#sidebar {
    grid-area: sidebar;
    padding: 5px;
    border: 2px solid var(--main-border-color);
}

#sidebar ul {
    list-style-type: none;
    padding: 0px;
    width: 100%;
}

.list {
    border: 2px solid brown;
    margin: 5px;
    padding: 5px;
    font-size: 1.6rem;
    border-radius: 5px;
}

#sidebar li:hover {
    background: brown;
    color: white;
}

.activeList {
    border: 2px solid brown;
    box-shadow: 0 0 10px brown;
    background-color: #C5CAE9;
    transform: scale(1.05)
}

.btnExpandList {
    width: 1.3rem;
}

.expandedList {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.btnDeleteList,
.btnEditList {
    width: 2rem;
}

.collapsedList span {
    cursor: default;
}

/*#endregion*/

#main {
    grid-area: main;
    padding: 20px;
    border: 2px solid var(--main-border-color);
    overflow: scroll;
}

/*#region todoItem*/

#main ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

#main li {
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 8px;
}

.lowPriority {
    border: 2px solid #26bf47;
    box-shadow: 0 0 10px #26bf47;
}

.mediumPriority {
    border: 2px solid #e8891d;
    box-shadow: 0 0 10px #e8891d;
}

.highPriority {
    border: 2px solid #ec1313;
    box-shadow: 0 0 10px #ec1313;
}

.btnDeleteTodo,
.btnEditTodo {
    width: 2rem;
}

.btnExpand {
    width: 2rem;
}

.collapsedDisplay {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.expandedContent {
    /* display: none; */
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

/*#endregion*/

.dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
